:root {
	--ion-color-pink: #E87EAB;
	--ion-color-pink-rgb: 232, 126, 171;
	--ion-color-pink-contrast: #000000;
	--ion-color-pink-contrast-rgb: 0, 0, 0;
	--ion-color-pink-shade: #cc6f96;
	--ion-color-pink-tint: #ea8bb3;
}

.ion-color-pink {
	--ion-color-base: var(--ion-color-pink);
	--ion-color-base-rgb: var(--ion-color-pink-rgb);
	--ion-color-contrast: var(--ion-color-pink-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink-shade);
	--ion-color-tint: var(--ion-color-pink-tint);
}

:root {
	--ion-color-cream: #FEEFAD;
	--ion-color-cream-rgb: 254, 239, 173;
	--ion-color-cream-contrast: #000000;
	--ion-color-cream-contrast-rgb: 0, 0, 0;
	--ion-color-cream-shade: #e0d298;
	--ion-color-cream-tint: #fef1b5;
}

.ion-color-cream {
	--ion-color-base: var(--ion-color-cream);
	--ion-color-base-rgb: var(--ion-color-cream-rgb);
	--ion-color-contrast: var(--ion-color-cream-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cream-contrast-rgb);
	--ion-color-shade: var(--ion-color-cream-shade);
	--ion-color-tint: var(--ion-color-cream-tint);
}

:root {
	--ion-color-w: #ffffff;
	--ion-color-w-rgb: 255, 255, 255;
	--ion-color-w-contrast: #000000;
	--ion-color-w-contrast-rgb: 0, 0, 0;
	--ion-color-w-shade: #e0e0e0;
	--ion-color-w-tint: #ffffff;
}

.ion-color-w {
	--ion-color-base: var(--ion-color-w);
	--ion-color-base-rgb: var(--ion-color-w-rgb);
	--ion-color-contrast: var(--ion-color-w-contrast);
	--ion-color-contrast-rgb: var(--ion-color-w-contrast-rgb);
	--ion-color-shade: var(--ion-color-w-shade);
	--ion-color-tint: var(--ion-color-w-tint);
}

:root {
	--ion-color-pink2: #F7B5CA;
	--ion-color-pink2-rgb: 247, 181, 202;
	--ion-color-pink2-contrast: #000000;
	--ion-color-pink2-contrast-rgb: 0, 0, 0;
	--ion-color-pink2-shade: #d99fb2;
	--ion-color-pink2-tint: #f8bccf;
}

.ion-color-pink2 {
	--ion-color-base: var(--ion-color-pink2);
	--ion-color-base-rgb: var(--ion-color-pink2-rgb);
	--ion-color-contrast: var(--ion-color-pink2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pink2-contrast-rgb);
	--ion-color-shade: var(--ion-color-pink2-shade);
	--ion-color-tint: var(--ion-color-pink2-tint);
}

:root {
	--ion-color-y: #FEEFAD;
	--ion-color-y-rgb: 254,239,173;
	--ion-color-y-contrast: #000000;
	--ion-color-y-contrast-rgb: 0,0,0;
	--ion-color-y-shade: #e0d298;
	--ion-color-y-tint: #fef1b5;
}

.ion-color-y {
	--ion-color-base: var(--ion-color-y);
	--ion-color-base-rgb: var(--ion-color-y-rgb);
	--ion-color-contrast: var(--ion-color-y-contrast);
	--ion-color-contrast-rgb: var(--ion-color-y-contrast-rgb);
	--ion-color-shade: var(--ion-color-y-shade);
	--ion-color-tint: var(--ion-color-y-tint);
}

:root {
	--ion-color-g: #45F21A;
	--ion-color-g-rgb: 69,242,26;
	--ion-color-g-contrast: #000000;
	--ion-color-g-contrast-rgb: 0,0,0;
	--ion-color-g-shade: #3dd517;
	--ion-color-g-tint: #58f331;
}

.ion-color-g {
	--ion-color-base: var(--ion-color-g);
	--ion-color-base-rgb: var(--ion-color-g-rgb);
	--ion-color-contrast: var(--ion-color-g-contrast);
	--ion-color-contrast-rgb: var(--ion-color-g-contrast-rgb);
	--ion-color-shade: var(--ion-color-g-shade);
	--ion-color-tint: var(--ion-color-g-tint);
}

:root {
	--ion-color-t: #b5b5b5;
	--ion-color-t-rgb: 181,181,181;
	--ion-color-t-contrast: #000000;
	--ion-color-t-contrast-rgb: 0,0,0;
	--ion-color-t-shade: #9f9f9f;
	--ion-color-t-tint: #bcbcbc;
}

.ion-color-t {
	--ion-color-base: var(--ion-color-t);
	--ion-color-base-rgb: var(--ion-color-t-rgb);
	--ion-color-contrast: var(--ion-color-t-contrast);
	--ion-color-contrast-rgb: var(--ion-color-t-contrast-rgb);
	--ion-color-shade: var(--ion-color-t-shade);
	--ion-color-tint: var(--ion-color-t-tint);
}