<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="product-container">

    <ion-grid class="center">
      <ion-row>

        <ion-col size="6" *ngFor="let product of sinka3">
        <ion-card class="custom-card" color="cream">
          <img [src]="product.imageURL" class="img">
          <div class="center">
            {{product.name}} <br>
            ราคา : {{product.price}} บาท<br>
            <ion-button style="font-size: 11px;" color="pink">
              <ion-icon name="cart-outline"></ion-icon>
              เพิ่มสินค้าลงตะกร้า
            </ion-button>
          </div>
        </ion-card>
        </ion-col>

        <ion-col *ngFor="let product of sinka4" size="6">
          <ion-card class="custom-card" color="cream">
          <img [src]="product.imageURL" class="img">
          <div class="center">
            {{product.name}} <br>
            ราคา : {{product.price}} บาท<br>''
            <ion-button style="font-size: 11px;" color="pink">
              <ion-icon name="cart-outline"></ion-icon>
              เพิ่มสินค้าลงตะกร้า
            </ion-button>
          </div>
        </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="cream">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToTakra()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToPraped()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


