<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title style="padding-left: 170px; font-size: 30px;">
      JaJa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pink2">
  <ion-card-header style="size: 100px;" color="y"></ion-card-header>

  <div style="text-align: center;">
    <ion-button class="vertical-button" ngClass="custom-button" (click)="goToType()" color="t">
      <ion-icon name="cart-outline" style="font-size: 60px;"></ion-icon>
      <span style="font-size: 25px;">สินค้า</span>
    </ion-button>
  </div>

  <div style="text-align: center;">
    <ion-button class="vertical-button" ngClass="custom-button" id="open-modal" color="t">
      <ion-icon name="newspaper-outline" style="font-size: 60px;"></ion-icon>
      <span style="font-size: 25px;">ข่าวสาร</span>
    </ion-button>


  </div>


  <ion-modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle">
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <img src="../../assets/20231103_InfoGraphic_Holiday2023-.png" alt="">
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  

</ion-content>